<link rel="stylesheet" href="/stylesheets/style.css">
<h2>Update</h2>
<form action="update" method="post">
    <input type="text" name="id"/>
    <input type="text" name="title" />
    <input type="text" name="content"/>
<button>Update</button>
  </form>

<h2>Get all data</h2>
  <form action="getData" method="get">
  <button class="button2">Get Data</button>
</form>

<h2>Search</h2>
<form action="searchTitle" method="post">
    <input type="text" name="title" />
    <button class="button2">Search by title</button>
</form>

<form action="searchContent" method="post">
  <input type="text" name="content" />
  <button class="button2">Search by note</button>
</form>