<form action="update" method="post">
    <input type="text" name="id"/>
    <input type="text" name="title" />
    <input type="text" name="content"/>
<button>Update</button>
  </form>
  <form action="getData" method="get">
  <button class="button2">Get Data</button>
</form>

<form action="search" method="post">
    <input type="text" name="title" />
    <button class="button2">Search</button>
</form>